###############################
#
#   Hello!
#   This is example .env file for deploying bozenka
#   It's for *BACKEND* part of project
#
###############################

TELEGRAM_TOKEN= # There should be telegram token of bot;
VK_TOKEN=   # Vk group token for bozenka instance at VK;
DISCORD_TOKEN=  # Discord bot token for instance at Discord;
DJANGO_SECRET_KEY= # Your secret key of django