###############################
#
#   Hello!
#   This is example .env file for deploying bozenka
#
###############################

TELEGRAM_TOKEN= # There should be telegram token
VK_TOKEN=   # Vk group token
DISCORD_TOKEN=  # Discord bot token