###############################
#
#   Hello!
#   This is example .env file for deploying bozenka
#   It's for *FRONTEND* part of project
#
###############################
REACT_API_URL= # URL of bozenka backend, to connect frontend 
REACT_APP_ENCRYPTION_KEY= # AES encryption key for locac storage of user. This should be random 32 chars string